body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}


#seta-titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.titulo-container {
    background-color: #003366;
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
    width: 70em;
    min-height: 20em;
}

h1,h3 {
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagem-texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    color: #f4f4f4;
}

.formula-texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    color: #f4f4f4;
}

.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.show {
    height: auto;
    opacity: 1;
    transition: height 0.5s ease, opacity 0.5s ease;
}

#formula {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#imagem {
    width: 300px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    display: block;
}

figcaption {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

#descricao {
    font-size: 16px;
    color: #000000;
    text-align: justify;
    line-height: 1.6;
    padding: 20px;
    width: 420px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 2px solid #73abd3;
    border-radius: 10px;
}

#descricaoFormula {
    font-size: 16px;
    color: #000000;
    text-align: justify;
    line-height: 1.6;
    padding: 20px;
    width: 420px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 2px solid #73abd3;
    border-radius: 10px;
}


.links {
    width: 100%;
}

.links p {
    text-align: center;
}

.links a {
    font-size: 18px;
    text-decoration: none;
    color: #c5ddf7;
}

#medidas {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}	

hr {
    border-color: #cccccc;
}

#Figuras {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Figuras a {
    font-size: 19px;
    width: 130px;
    height: 55px;
    text-decoration: none;
    color: #003366;
    text-shadow: 1px 1px 1px white;
}

#Figuras p {
    text-align: center;
}

#Figuras1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Figuras1 a {
    font-size: 19px;
    text-decoration: none;
    color: #003366;
    text-shadow: 1px 1px 1px white;
}

#Figuras1 p {
    text-align: center;
}

#Figuras1 img {
    width: 5em;
    height: auto;
}

input::placeholder {
    font-size: 13px;
}

.button {
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: #73abd3;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    width: 10em;
    min-height: 1.5em;
    margin-left: 3%;
}


.button:hover {
    background-color: #49a1ff;
    transform: scale(1.1);
}

.grupo1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.grupo2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    font-size: 15px;
    height: 1.5em
}

#resultados {
    display: flex;
    margin-right: 30px;
}

#resultados p {
    display: flex;
    margin: 0;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #f4f4f4;
    display: none;
    margin-top: 2.5%;
    margin-bottom: 1%;
    width: 50%;
    text-align: center;
}

#baseTriangular, #baseQuadrangular, #basePentagonal, #baseHexagonal, #baseHeptagonal, #baseOctogonal  {
    display: none;
}

select {
    border-radius: 5px;
}

form {
    display: flex;
    width: 100%;
    height: 2em;
    justify-content: center;
    margin-bottom: 15px;
}